@using Ecommerce.Application.ViewModels.Admin_Panel
@model AdminDashboardViewModel
@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="container">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p class="lead">Welcome to the store's control panel.</p>
    <hr />

    <div class="row">
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">Total Products</div>
                <div class="card-body">
                    <h5 class="card-title">@Model.TotalProducts</h5>
                    <p class="card-text">products in the catalog.</p>
                </div>
            </div>
        </div>
        </div>
</div>